USE [QuanLyKhachSan]
GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 6/10/2017 11:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[MaBaoCao] [nvarchar](10) NOT NULL,
	[TenLoaiBaoCao] [nvarchar](50) NOT NULL,
	[ThangBaoCao] [int] NOT NULL,
 CONSTRAINT [PK_BAOCAO] PRIMARY KEY CLUSTERED 
(
	[MaBaoCao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETBAOCAODOANHTHU]    Script Date: 6/10/2017 11:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBAOCAODOANHTHU](
	[MaChiTietBaoCaoDoanhThu] [nvarchar](10) NOT NULL,
	[MaBaoCao] [nvarchar](10) NOT NULL,
	[MaLoaiPhong] [nvarchar](10) NOT NULL,
	[DoanhThuTungLoaiPhong] [float] NOT NULL,
	[TyLeDoanhThuTheoTungLoaiPhong] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETBAOCAODOANHTHU] PRIMARY KEY CLUSTERED 
(
	[MaChiTietBaoCaoDoanhThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETBAOCAOMATDO]    Script Date: 6/10/2017 11:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETBAOCAOMATDO](
	[MaChiTietBaoCaoMatDo] [nvarchar](10) NOT NULL,
	[MaBaoCao] [nvarchar](10) NOT NULL,
	[MaPhong] [nvarchar](10) NOT NULL,
	[TongSoNgayThue] [int] NOT NULL,
	[TyLeMatDoSuDungPhong] [int] NOT NULL,
 CONSTRAINT [PK_CHITIETBAOCAOMATDO] PRIMARY KEY CLUSTERED 
(
	[MaChiTietBaoCaoMatDo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 6/10/2017 11:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaChiTietHoaDon] [nvarchar](10) NOT NULL,
	[MaHoaDon] [nvarchar](10) NOT NULL,
	[MaPhieuThue] [nvarchar](10) NOT NULL,
	[SoNgayThue] [int] NOT NULL,
	[ThanhTienTheoTungPhong] [float] NOT NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MaChiTietHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUTHUE]    Script Date: 6/10/2017 11:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUTHUE](
	[MaChiTietPhieuThue] [nvarchar](10) NOT NULL,
	[MaPhieuThue] [nvarchar](10) NOT NULL,
	[MaKhachHang] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CHITIETPHIEUTHUE] PRIMARY KEY CLUSTERED 
(
	[MaChiTietPhieuThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 6/10/2017 11:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHoaDon] [nvarchar](10) NOT NULL,
	[MaKhachHang] [nvarchar](10) NOT NULL,
	[NgayLapHoaDon] [datetime] NOT NULL,
	[TriGiaHoaDon] [float] NOT NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 6/10/2017 11:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKhachHang] [nvarchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[MaLoaiKhachHang] [nvarchar](10) NOT NULL,
	[CMND] [int] NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIKHACHHANG]    Script Date: 6/10/2017 11:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIKHACHHANG](
	[MaLoaiKhachHang] [nvarchar](10) NOT NULL,
	[TenLoaiKhachHang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LOAIKHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaLoaiKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 6/10/2017 11:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MaLoaiPhong] [nvarchar](10) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NOT NULL,
	[DonGia] [money] NOT NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGIN]    Script Date: 6/10/2017 11:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOGIN](
	[UserID] [varchar](10) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LOGIN] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUTHUE]    Script Date: 6/10/2017 11:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUTHUE](
	[MaPhieuThue] [nvarchar](10) NOT NULL,
	[MaPhong] [nvarchar](10) NOT NULL,
	[NgayBatDauThue] [datetime] NOT NULL,
	[ThanhToan] [varchar](50) NULL,
 CONSTRAINT [PK_PHIEUTHUE] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThue] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/10/2017 11:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [nvarchar](10) NOT NULL,
	[TenPhong] [nvarchar](50) NOT NULL,
	[MaLoaiPhong] [nvarchar](10) NOT NULL,
	[GhiChu] [nvarchar](200) NULL,
	[TinhTrangPhong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 6/10/2017 11:58:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[SoLuongKhachHangToiDa] [int] NOT NULL,
	[SoLuongKhachMoiPhong] [int] NULL,
	[SoLuongKhachNuocNgoai] [int] NULL,
	[HeSo] [float] NOT NULL,
	[TyLePhuThu] [float] NOT NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[CHITIETBAOCAODOANHTHU]  WITH CHECK ADD  CONSTRAINT [FK_MaBaoCao] FOREIGN KEY([MaBaoCao])
REFERENCES [dbo].[BAOCAO] ([MaBaoCao])
GO
ALTER TABLE [dbo].[CHITIETBAOCAODOANHTHU] CHECK CONSTRAINT [FK_MaBaoCao]
GO
ALTER TABLE [dbo].[CHITIETBAOCAODOANHTHU]  WITH CHECK ADD  CONSTRAINT [FK_MaLoaiphong] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LOAIPHONG] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[CHITIETBAOCAODOANHTHU] CHECK CONSTRAINT [FK_MaLoaiphong]
GO
ALTER TABLE [dbo].[CHITIETBAOCAOMATDO]  WITH CHECK ADD  CONSTRAINT [FK_MaBaoCao1] FOREIGN KEY([MaBaoCao])
REFERENCES [dbo].[BAOCAO] ([MaBaoCao])
GO
ALTER TABLE [dbo].[CHITIETBAOCAOMATDO] CHECK CONSTRAINT [FK_MaBaoCao1]
GO
ALTER TABLE [dbo].[CHITIETBAOCAOMATDO]  WITH CHECK ADD  CONSTRAINT [FK_MaPhong1] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[CHITIETBAOCAOMATDO] CHECK CONSTRAINT [FK_MaPhong1]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_MaHoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HOADON] ([MaHoaDon])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_MaHoaDon]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_MaPhieuThue1] FOREIGN KEY([MaPhieuThue])
REFERENCES [dbo].[PHIEUTHUE] ([MaPhieuThue])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_MaPhieuThue1]
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_MaKhachHang] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHUE] CHECK CONSTRAINT [FK_MaKhachHang]
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_MaPhieuthue] FOREIGN KEY([MaPhieuThue])
REFERENCES [dbo].[PHIEUTHUE] ([MaPhieuThue])
GO
ALTER TABLE [dbo].[CHITIETPHIEUTHUE] CHECK CONSTRAINT [FK_MaPhieuthue]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_MaKhachHang1] FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KHACHHANG] ([MaKhachHang])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_MaKhachHang1]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_MaLoaiKhachHang] FOREIGN KEY([MaLoaiKhachHang])
REFERENCES [dbo].[LOAIKHACHHANG] ([MaLoaiKhachHang])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_MaLoaiKhachHang]
GO
ALTER TABLE [dbo].[PHIEUTHUE]  WITH CHECK ADD  CONSTRAINT [FK_MaPhong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
GO
ALTER TABLE [dbo].[PHIEUTHUE] CHECK CONSTRAINT [FK_MaPhong]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_MaLoaiPhong1] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LOAIPHONG] ([MaLoaiPhong])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_MaLoaiPhong1]
GO
